<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OSF</title>
    <link rel="stylesheet" href="style1.css">
</head>
<body>

    <div class="main">
        <div class="navbar">
            <div class="icon">
                <h2 class="logo">OSF</h2>
            </div>

            <div class="menu">
                <ul>
                    <li><a href="#">HOME</a></li>
                    <li><a href="#">ABOUT</a></li>
                    <li><a href="#">SERVICE</a></li>
                    <li><a href="#">CONTACT</a></li>
                </ul>
            </div>

           <!--- <div class="search">
                <input class="srch" type="search" name="" placeholder="Type To text">
                <a href="#"> <button class="btn">Search</button></a>
            </div> --->

        </div> 
        <div class="content">
            <h1>Organisation <br><span>Security</span> <br>FrameWork</h1>
            <p class="par">Your security is our Consern. <br>
                 Globally, 30,000 websites are hacked daily. <br> 64% of companies worldwide have experienced at least one form of a cyber attack
                <br> so what are you waiting for? join us now</p>


                <div class="form">
                    <h2>Register Organisation</h2>
                    <form action="/org_register" method="post">
                        <input type="text" name="org_name" placeholder="Enter Organisation name Here">
                        <input type="email" name="org_email" placeholder="Enter Organisation Email Here">
                        <input type="text" name="org_description" placeholder="Enter Organisation Description Here">
                        <br><br>
                        <select name="org_type">
                            <option value = "IT">IT</option>
                            <option value = "Education">Education</option>
                            <option value = "Retail">Retail</option>
                            <option value = "Accounting">Accounting</option>
                            <option value = "Agency">Agency</option>
                            <option value = "Automotive">Automotive</option>
                            <option value = "Ecommerce">Ecommerse</option>
                            <option value = "Food Service">Food Service</option>
                        </select>
                        <button class="btnn"><a>Register</a></button>
                    </form>
                </div>
                    </div>
                </div>
        </div>
    </div>
    <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
</body>
</html>
