<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="password_manager.css">
    <title>signin-signup</title>
</head>
<body>
  <div class="main">
    <div class="container"> 
        <div class="Password-Manager">
            <form action="/Password-Manager" method="post" class="Password-Manager-form">
                <h2 class="title">Password Manager</h2>
                <div class="input-field">
                    <i class="fas fa-user"></i>
                    <input name="pagename" type="text" placeholder="Pagename" required>
                </div>
                <div class="input-field">
                    <i class="fas fa-user"></i>
                    <input name="username" type="text" placeholder="Username" required>
                </div>
                <div class="input-field">
                    <i class="fas fa-lock"></i>
                    <input name="password" type="password" placeholder="Password" required>
                </div>
                <input type="submit" value="Set" class="btn">
                <input type="submit" value="Generate" class="btn">
                <p><a href="#" class="account-text" id="sign-up-link">Set Policy</a></p>
            </form>
        </div>
    </div>
  </div>
</body>
</html>
